

@media only screen  and (min-width:768px) and  (max-width:1299.98px){

  .nav-overlay ul li {
    margin: 80px 0;
  }
  .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #F48221 !important;
    border-color: #F48221 !important;
  }
  .nav-overlay .btn-primary{
    background: #F48221;
  font-size: 11px;
  border: #F48221;
  width: 150px;
  padding: 14px 26px;
  border-radius: 40px;
  }
  .about_us_header .header_txt{
    top: 50%;
  }
  .hide_span{
    display: none !important;
  }
  .event_trip .post-title {
    padding-right: 0px;
  }
  .lead_event h2 {
    font-size: 35px;
  }
  .blog_detail_header p {
    font-size: 14px;
  }
  .blog_desc {
    margin-bottom: 40px;
  }
  .detail_content h4 {
    margin-bottom: 17px;
  }
  .blog_desc .short_desc {
    margin-bottom: 20px;
  }
  .blog_detail_header .header_txt h1 {
    line-height: 39px;
    font-size: 30px;
}
  .blog_detail_header .header_txt{
    padding: 0px 30px;
    top: 50%;
    left: 55%;
    padding-right: 90px;
  }
  .all_service_header .header_txt p {
    max-width: 700px;
}

  .blog-posts .post {
    margin-top: 30px;
    width: 90%;
    margin-bottom: 30px;
    margin: auto;
  }
  .footer-section {
    padding-bottom: 0px;
  }
  .all_services .row:nth-child(n+2) {
    margin-top: 0px;
  }
  .all_services{
    margin-top: 0px !important;
  }
  .service_detail_header {
    height: 450px;
  }
  .our_service_post .row:last-child {
    margin-bottom: 35px;
  }
  .service_arrow {
    margin-top: 6px;
  }
  .servie_content_para h3 {
    line-height: 35px;
  }
  .our_service_post .row:nth-child(n+2) {
    margin-top: 0px;
  }
  .service_content_wrapper{
    position: relative;
    color: #000;
    bottom: unset;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .our_service_post {
    margin-top: -260px;
}
  .service_header_sec {
    height: 650px;
}
    .nav-overlay ul li a {
        font-size: 20px;
      }
      .hero h1, .hero h1 > span {
        font-size: 32px;
      }
      .our_services .col-lg-6:nth-child(2) p {
        width: 100%;
      }
      .lead_event p {
        margin-top: 20px;
      }
      .our_services {
        padding-top: 60px;
        padding-bottom: 20px;
      }
      .owl-carousel.owl-drag .owl-item{
        opacity: 1 !important;
      }
      .desc_sec {
        padding-right: 20px;
        width: 100%;
        padding-left: 11px;
      }
      .slider_arrow {
        margin-right: 20px;
      }
      .client_testimonial_content .container .row {
        padding: 50px 0px 40px;
      }
      .testimonial_slider .owl-carousel .item {
        /* padding: 0px 0px 0px 0px; */
      }
      .testimonial_slider {
        padding-left: 4%;
      }
      .owl-carousel .testimonial-box {
        padding-right: 20px;
      }
      .event_trip {
        margin-top: 90px;
        padding-top: 60px;
      }
      .event_trip .section-title {
        font-size: 35px;
      }
      .blog-posts .post {
        margin-top: 30px;
      }
      .footer-section .col-md-4:last-child {
        margin-top: 0px;
      }
      .site_map_privacy {
        justify-content: start;
      }
      .footer-copy {
        margin-bottom: 10px;
      }
      .site_map_privacy{
        margin-bottom: 20px;
      }
      .open .navbar-toggler-icon::after {
        transform: rotate(-45deg) translate(-4px, 3px);
      }
      .open .navbar-toggler-icon::before {
        transform: rotate(45deg) translate(4px, 4px);
      }
      .open .navbar-toggler-icon::before, .open  .navbar-toggler-icon::after, .open  .navbar-toggler-icon div {
        width: 70%;
        height: 3px;
        left: 0px;
        top: 5px !important;
      }
      #navToggle .navbar-toggler-icon::before {
        left: 0px;
      }
      #navToggle .navbar-toggler-icon::after {
       right: 0px;
      }
      .navbar-toggler-icon span{
        width: 100%;
        background: #fff;
        height: 5px;
        display: block;
        position: absolute;
        top: 13px;
      }
      .about_us_desc img {
        width: 100%;
      }
      .our_vision {
        margin: 50px 0px 50px 0px;
      }
      .about_us_img {
        margin: 50px 0px;
      }
      .about_us_desc {
        margin-top: 50px;
      }
      .h_title {
        margin-bottom: 20px;
      }
      .newsletter {
        padding: 30px 30px;
      }
  .blog_detail_header{
    overflow: hidden;
  }    


}

@media only screen  and (min-width:992px) and  (max-width:1200.98px){

  
  .blog_detail_header .header_txt{
    /* left: 50%;
  width:80% ; */
  }
    .about_us_desc .col-lg-8 {
        padding-top: 0px;
      }
      
}


@media only screen  and (min-width:1301px) and  (max-width:1400.98px){

  .blog_detail_header .header_txt{
    left: 55%;
  }

}